<div class="container">
    <div class="content-footer">
        <div class="row align-items-center">
            <div class="col-12">
                <img class="img-fluid logo-footer img-center" src="../../images/logo-dark.svg">
                <p class="mb-0 mt-2 text-center">© serv'eat - {{"now"|date('Y')}} - Tous droits réservés.</p>
            </div>
        </div>
        {# <div id="scroll-to-top">
            <a href="#hero" class="btn-to-top" data-scroll-to>
                <i class="fas fa-chevron-up"></i>
            </a>
        </div> #}
    </div>
</div>