<div class="container">
    <div class="row align-items-center">
        <div class="col-3">
            <img class="img-fluid logo-footer" src="../../images/logo-dark.svg">
        </div>
        <div class="col-6 text-center">
            <p class="mb-0">© serv'eat - {{"now"|date('Y')}} - Tous droits réservés.</p>
        </div>
        <div class="col-3">
            <div class="wrap-social d-flex justify-content-end">
                <i class="fab fa-linkedin me-2"></i>
                <i class="fab fa-facebook-square"></i>
            </div>
        </div>
    </div>
</div>