.card {
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  text-align: center;
  // background-color: $color_secondary;
  background-color: #fff;
  @include box-shadow;
  .card-header {
    background-color: transparent;
    border-bottom: none;
    .card-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 0.75rem;
      font-size: 1.25rem;
      margin: 0 auto;
      color: $color_secondary;
      // background-color: $color_primary;
      background-color: $peach_light;
    }
    .card-title {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      // margin: 1rem 0;
      h3 {
        font-size: 1.25rem;
        font-weight: 800;
      }
    }
  }
  .card-header,
  .card-body {
    padding: 0;
    p {
      margin-bottom: 0;
      color: $grey-dark;
    }
  }
  &.card-app {
    padding: 1.5rem 2.5rem;
    transition: 0.3s ease-in-out;
    .card-header {
      i {
        font-size: 1.5rem;
        color: $color_secondary;
      }
      .serveat-card,
      .serveat-waiter,
      .serveat-payment {
        font-size: 2rem;
      }
      h3 {
        position: relative;
        font-weight: 800;
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          height: 3px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 45px;
          background-color: $color_secondary;
        }
      }
    }
    .card-body {
      padding-top: 1rem;
    }
    &.active {
      background-color: $color_secondary;
      .card-header i {
        color: $color_primary;
      }
      .card-header h3::after {
        content: "";
        background-color: $color_primary;
      }
      .card-body p {
        color: $color_primary;
      }
    }
  }
  &.card-process {
    padding: 0;
    // margin-bottom: 3rem;
    // height: 100%;
    .card-header {
      position: relative;
      max-height: 240px;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $color_secondary;
        opacity: 0.3;
      }
      .process-number {
        position: absolute;
        z-index: 1;
        color: #fff;
        background: $color_secondary;
        left: 2rem;
        padding: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        font-size: 1.25rem;
        font-weight: 800;
      }
    }
    .card-body {
      padding: 1.5rem;
    }
  }
  &.card-number {
    border-radius: 0.5rem;
    .card-header {
      .number {
        font-size: 2.5rem;
        font-weight: 700;
      }
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}
.wrap-card .card-app:first-child {
  margin-bottom: 3rem;
}

@include minmaxwidth(md, lg) {
  .card.card-app {
    padding: 1.5rem;
    min-height: 275px;
    .card-header h3 {
      font-size: 1.15rem;
    }
  }
}

@include minmaxwidth(md, xl) {
  .card.card-number {
    height: calc(100% - 3rem) !important;
  }
}

@include minmaxwidth(lg, xl) {
  .card.card-app {
    .card-header h3 {
      font-size: 1.5rem;
    }
  }
  .card.card-process {
    .card-header {
      max-height: 170px;
    }
  }
}

@include maxwidth(lg) {
  .card.card-process {
    height: 100%;
    .card-header {
      max-height: 220px;
    }
  }
}

@include maxwidth(xl) {
  .card.card-number {
    margin-bottom: 3rem;
  }
}
