.switch-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    .form-check-input {
        width: 3em;
        height: 1.5em;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
        &:checked {
            background-color: $color_secondary;
            border-color: $color_secondary;
        }
        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.25);
            box-shadow: none;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
        }
        &:checked:focus {
            box-shadow: none;
            border-color: $color_secondary;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        }
        &:active {
            filter: none;
        }
    }
    .switch-label {
        font-size: 1.25rem;
        font-weight: 600;
    }
}
.panel-pricing {
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    height: 100%;
    @include box-shadow;
    .pricing-plan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.5rem 1rem;
        text-align: center;
        color: $grey-dark;
        height: 100%;
        .pricing-title {
            width: 100%;
            color: $color_primary;
            position: relative;
            font-size: 1rem;
            font-weight: 800;
            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                height: 3px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 45px;
                background-color: $color_secondary;
            }
        }
        .pricing-icon {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        .pricing-price {
            width: 100%;
            .price {
                color: $color_primary;
                font-weight: 700;
                font-size: 2rem;
            }
            &.price-month {
                display: block;
                opacity: 1;
                visibility: visible;
                &.hide {
                    display: none;
                    opacity: 0;
                    visibility: hidden;                    
                }
            }
            &.price-year {
                display: none;
                opacity: 0;
                visibility: hidden;
                &.show {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .pricing-custom {
            line-height: 1;
        }
        .item-icon {
            flex: 1;
            padding: 1rem;
            border-right: 1px solid $grey_light;
            &:last-child {
                border-right: none $grey_light;
            }
            .icon {
                height: 35px;
            }
        }
        .btn {
            width: 165px;
        }
    }
}