{% extends "base.twig" %}
{% block header %}{% endblock %}

{% block content %}
<div class="page-error">
    <div class="inner-error">
        <div class="txt-error">404</div>
        <div class="txt-error">La page</div>
        <div class="txt-error">est introuvable</div>
        <a href="{{site.url}}" class="btn btn-round btn-sm btn-secondary mt-3 mt-lg-0">Retour à l'accueil</a>
    </div>
    <div class="wrapper-element element-1">
    <div class="element-icon bg-peach-light">
        <i class="icon serveat-waiter c-peach"></i>
    </div>
</div>
<div class="wrapper-element element-2">
    <div class="element-icon bg-peach-light">
        <i class="icon serveat-payment c-peach"></i>
    </div>
</div>
<div class="wrapper-element element-3">
    <div class="element-icon bg-white">
        <i class="icon serveat-notification c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-4">
    <div class="element-icon bg-white">
        <i class="icon serveat-restaurant c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-5">
    <div class="element-icon bg-white">
        <i class="icon serveat-card c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-6">
    <div class="element-icon bg-white">
        <i class="icon serveat-cancel c-blue-grey"></i>
    </div>
</div>
</div>    
{% endblock %}

 {# {% block footer %}{% endblock %} #}