{% extends "base.twig" %}

{% block content %}
<div class="hero hero-home bg-img">
    {% include "home/hero.twig" %}
</div>
<section class="section section-avantages bg-grey-light py-5">
    {% include "home/part/avantages.twig" %}
</section>
<section class="section section-device">
    {% include "home/part/device.twig" %}
</section>
<section class="section section-profitability bg-peach-light py-5">
    {% include "home/part/rentabilite.twig" %}
</section>       
<section class="section section-app py-5">
    {% include "home/part/app.twig" %}
</section>
<section class="section">
    {% include "home/part/cta.twig" %}
</section>
<section class="section section-pricing py-5">
    {% include "home/part/price.twig" %}
</section>
<section class="section bg-grey-light py-5">
    {% include "home/part/features.twig" %}
</section>
{% endblock %}