{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="accueil">
    <div id="hero" class="hero hero-home bg-img" data-scroll-section>
        {% include "home/hero.twig" %}
    </div>
    <section id="avantages" class="section section-avantages bg-grey-light py-6" data-scroll-section>
        {% include "home/part/avantages.twig" %}
    </section>
    <section id="device" class="section section-device" data-scroll-section>
        {% include "home/part/device.twig" %}
    </section>
    <section id="profitability" class="section section-profitability position-relative py-6" data-scroll-section>
        {% include "home/part/rentabilite.twig" %}
    </section>       
    <section id="appPreview" class="section section-app py-6" data-scroll-section>
        {% include "home/part/app.twig" %}
    </section>
    <section class="section" data-scroll-section>
        {% include "home/part/cta.twig" %}
    </section>
    <section id="pricing" class="section section-pricing py-6" data-scroll-section>
        {% include "home/part/price.twig" %}
    </section>
    <section id="features" class="section bg-grey-light py-6" data-scroll-section>
        {% include "home/part/features.twig" %}
    </section>
</div>
{% endblock %}