{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="contact">
    <div class="header-page" data-scroll-section>
        <div class="header-content">
        <div class="header-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
            <div class="header-title" data-scroll data-scroll-speed="2">
                <div class="container">
                    <div class="row">
                        <div class="inner-title">
                            <h1 class="title-page" data-splitting>{{post.title}}</h1>
                        </div>
                        <div class="inneer-subtitle">
                            <p class="subtitle" data-splitting>Besoin de renseignement, contactez-nous</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container"data-scroll-section>
        <div class="form-contact bg-white" data-scroll data-scroll-speed="-2">
            <div class="row g-0">
                <div class="col-6">
                    <div class="content-info bg-peach">
                    <div class="content-top">
                        <h2 class="mb-5">Avec Serv'eat, tout va plus vite.</h2>
                        <p>Vous voulez en savoir plus sur notre solution ?<br>Envoyez-nous un message.</p>
                    </div>
                        <div class="wrap-img">
                            <img class="img-fluid" src="../images/illu-contact-email.svg" alt="">
                        </div>
                        <div class="info-inner d-flex">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Montpellier, FRANCE</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:contact@serveat.fr">contact@serveat.fr</a>
                            </div>                        
                        </div>                    
                    </div>
                </div>
                <div class="col-6">
                    <div class="content-form">
                        {{post.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}