{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="solution">
    <div class="header-page" data-scroll-section>
        <div class="header-content" data-scroll data-scroll-sticky data-scroll-repeat data-scroll-target="#app">
            <div class="header-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
            <div class="header-title" data-scroll data-scroll-speed="2">
                <div class="container">
                    <div class="row">
                        <div class="inner-title">
                            <h1 class="title-page" data-splitting>{{post.title}}</h1>
                        </div>
                        <div class="inner-subtitle">
                            <p class="subtitle" data-splitting>Optez pour serv'eat et augmenter votre rentabilitée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <section id="list" class="section solution-list pt-8 pb-6" data-scroll-section>
            {% include "solution/solution-list.twig" %}
        </section>    
        <section class="section section-core-feature" data-scroll-section>
            {% include "solution/core-feature.twig" %}
        </section>       
        <section class="section section-fonctionnement pb-8" data-scroll-section>
            {% include "solution/fonctionnement.twig" %}
        </section>
        <section class="section section-client" data-scroll-section>
            {% include "solution/client.twig" %}
        </section>
        <div class="client-content bg-grey-light pt-6 pb-8" data-scroll-section>
            {% include "solution/client-content.twig" %}
        </div>
        <section class="section bg-blue-dark py-6" data-scroll-section>
            {% include "solution/cta-demo.twig" %}
        </section>
        <div class="section section-about py-6" data-scroll-section>
            {% include "solution/about.twig" %}
        </div>
    </div>
</div>
{% endblock %}