{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="demo">
    <div class="content-demo pb-5" data-scroll-section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 block-img" style="background-image: url('{{ post.thumbnail.src }}')">
                    <div class="content-block" data-scroll data-scroll-speed="3">
                        <div class="inner-title">
                            <h1 class="title-demo mb-3" data-splitting>Rejoignez Serv'eat</h1>
                        </div>
                        <div class="inner-subtitle">
                            <h2 class="subtitle-demo mb-0" data-splitting>Commencez par une démo</h2>
                        </div>
                        <div class="inner-txt">
                            <p class="mb-0 txt-demo" data-splitting>Vous êtes interessez, écrivez-nous et nous vous répondrons au plus vite.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-form" data-scroll data-scroll-sticky data-scroll-target="#app">
                        {{post.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}