{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="solution">
    <div class="header-page" data-scroll-section>
        <div class="header-content" style="background-image: url('{{ post.thumbnail.src }}')">
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <h1>{{post.title}}</h1>
                        <p>Optez pour serv'eat et augmenter votre rentabilitée.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-page">
        <section class="section solution-list py-8" data-scroll-section>
            {% include "solution/solution-list.twig" %}
        </section>    
        <section class="section section-core-feature py-8" data-scroll-section>
            {% include "solution/core-feature.twig" %}
        </section>       
        <section class="section section-fonctionnement py-8" data-scroll-section>
            {% include "solution/fonctionnement.twig" %}
        </section>
        <section class="section section-materiel py-8" data-scroll-section>
            {% include "solution/materiel.twig" %}
        </section> 
        <section class="section bg-blue-dark py-8" data-scroll-section>
            {% include "solution/cta-demo.twig" %}
        </section>
    </div>
</div>
{% endblock %}