body {
    font-family: 'Mulish', sans-serif;
    color: $color_primary;
    background-color: #fff;
    overflow-x: hidden;
}

b {
    font-weight: 800;
    color: $color_secondary;
}

.scroll-content {
    position: relative;
}

#app {
    position: relative;
    // padding-top: 87px;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.bg-blue-dark {
    background-color: $color_primary;
}
.bg-peach {
    background-color: $color_secondary;
} 
.bg-peach-middle {
    background-color: $peach_middle;
}
.bg-peach-light {
    background-color: $peach_light;
}
.bg-blue-grey {
    background-color: $blue_grey;
}
.bg-grey-light {
    background-color: $grey_light;
}
.bg-white {
    background-color: #fff;
}

.c-peach {
    color: $color_secondary !important;
}
.c-peach-middle {
    color: $peach_middle !important;
}
.c-peach-light {
    color: $peach_light !important;
}
.c-blue-dark {
    color: $color_primary !important;
}
.c-blue-grey {
    color: $blue_grey !important;
}
.c-grey {
    color: $grey-dark !important;
}
.c-grey-light {
    color: $grey_light !important;
}
.c-white {
    color: #fff  !important;
}

.position-relative {
    position: relative;
}

.pl-65 {
    padding-left: 65px;
}
.py-8 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.pt-8 {
    padding-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}
.mt-6-negative {
    margin-top: -6rem;
}

.font-12 {
    font-size: 0.75rem;
}
.font-14 {
    font-size: 0.875rem;
}

#scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 25px;
    .btn-to-top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 0.45rem;
        background-color: $color_primary;
        color: #fff;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        cursor: pointer;
        &.show {
            opacity: 1;
        }
    }
}

.box-shadow {
    @include box-shadow;
}
.z-index-1 {
    z-index: 1;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}