.content-demo {
    padding-top: 76px;
    .block-img {
        position: relative;
        min-height: 100vh;
        overflow: hidden;
        .inner-img {
            position: absolute;
            left: 0;
            background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(34, 39, 80, 0.5);        
            }
        }
        .content-block {
            position: relative;
            padding: 3rem 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            color: #fff;
            .title-demo {
                font-size: 3rem;
                font-weight: 700;
            }
            .subtitle-demo {
                font-size: 1.75rem;
            }
            .inner-title, .inner-subtitle, .inner-txt {
                overflow: hidden;
            } 
            .title-demo .char, .subtitle-demo .char, .txt-demo .char {
                opacity: 0;
                transform: translateY(100%);
            } 
        }
    }
    .content-form {
        padding: 3rem;
        .wrap-form-demo {
            margin-bottom: 0;
        }
    }
}