<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-5 text-center">
        <div class="mb-5" data-scroll data-scroll-speed="2">
                <h2 class="section-title">Lorem ipsum</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum possimus sequi id qui! Eaque animi at voluptatum, quas, modi impedit provident ipsam incidunt architecto nesciunt accusantium ullam, similique molestias? Modi!</p>
            </div>
        </div>
    </div>
    <div class="row wrap-about" data-scroll data-scroll-speed="2">
        <div class="col-md-3">
        <div class="img-about mb-4 mb-md-0">
            <div class="wrap-img" data-scroll data-scroll-speed="6">
                <div class="inner-img" data-scroll data-scroll-speed="-2">
                    <img class="img-fluid img-cover" src="../../images/serveur.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="img-about mb-4 mb-md-0">
            <div class="wrap-img" data-scroll data-scroll-speed="6">
                <div class="inner-img" data-scroll data-scroll-speed="-2">
                    <img class="img-fluid img-cover" src="../../images/bg-restaurant.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="wrap-content">
            <div class="inner-content" data-scroll data-scroll-speed="6">
                <div class="content-about bg-blue-dark text-white p-5 h-100" data-scroll data-scroll-speed="-2">
                    <p class="font-24 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eius autem voluptatibus quam tempora obcaecati? Qui id, iusto porro eveniet, natus, maiores minus eum placeat accusamus repellat ab nemo sunt!</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>