<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <div class="mb-6">
                <h2 class="section-title mb-3">Lorem ipsum</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum possimus sequi id qui! Eaque animi at voluptatum, quas, modi impedit provident ipsam incidunt architecto nesciunt accusantium ullam, similique molestias? Modi!</p>
            </div>
        </div>
    </div>
    <div class="row wrap-about">
        <div class="col-3">
            <img class="img-fluid img-cover" src="../../images/serveur.jpg" alt="">
        </div>
        <div class="col-3">
            <img class="img-fluid img-cover" src="../../images/bg-restaurant.jpg" alt="">
        </div>
        <div class="col-6">
            <div class="content-about bg-blue-dark text-white p-5 h-100">
                <p class="font-24 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eius autem voluptatibus quam tempora obcaecati? Qui id, iusto porro eveniet, natus, maiores minus eum placeat accusamus repellat ab nemo sunt!</p>
            </div>
        </div>
    </div>
</div>