<div class="wrap-bg-img">
    <div class="bg-img pt-8" data-scroll data-scroll-speed="-2">
        <div class="container position-relative">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h2 class="section-title mb-3">{{ post_atout.meta('title_atout') }}</h2>
                    <p>{{ post_atout.meta('subtitle_atout') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>