<div class="mt-12-negative"></div>
<div class="container">
    <div class="row">
    {% for i, post_card_atout in posts_card_atout %} 
    {% set i = i + 1 %}  
        <div class="col-md-6 col-xl-3">
            <div class="card h-100 card-number">
                <div class="card-header pt-5">
                    <span class="number">0{{i}}</span>
                    <h3>{{post_card_atout.title}}</h3>
                </div>
                <div class="card-body pt-3">
                    <p>{{post_card_atout.meta('txt_card_atout')}}</p>
                </div>
            </div>
        </div>
    {% endfor %}                       
    </div>
</div>