<div class="container">
    <div class="solution-list bg-grey-light p-5" data-scroll data-scroll-speed="3">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="section-title mb-3">lorem ipsum</h2>
                <p class="mb-5 mb-lg-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius earum quidem ab molestiae omnis magnam laudantium laborum dicta porro nisi. Consectetur aliquid aliquam debitis cumque accusantium possimus ratione vero unde.</p>
            </div>
            <div class="col-lg-7">
                <img class="img-fluid" src="../../images/tv.png" alt="">
            </div>
        </div>
        <div class="row pt-5">
        {% for post_pack_serveat in posts_pack_serveat %}
            <div class="col-lg-4">
                <div class="item-list d-flex">
                    <div class="item-icon mt-1">
                        <i class="{{post_pack_serveat.icon_list_pack}} c-peach"></i>
                    </div>
                    <div class="item-list-content ms-3">
                        <h3>{{post_pack_serveat.title}}</h3>
                        <p>{{post_pack_serveat.meta('txt_list_pack')}}</p>
                    </div>
                </div>                              
            </div>
         {% endfor %}           
        </div>
    </div>
</div>
