<div class="container">
<div class="row">
    <div class="col-12 text-white text-center">
        <h2>Ne perdez plus de temps,</h2>
        <p>Avec la solution Serv'eat, <b>essayer c'est augmenter votre rentabilitée.</b></p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-center">
        <form class="cta-demande-demo">
            <input type="email" class="form-control h-100" id="demoEmail" placeholder="Entrez votre email">
        </form>
            <a href="{{ site.link }}/demande-de-demo" id="btnDemo" class="btn btn-round btn-sm btn-secondary">Demandez une démo</a>
        </div>   
    </div>
</div>
</div>