<div class="container">
<div class="row">
    <div class="col-12 text-white text-center pb-3 pb-md-5">
        <h2>Ne perdez plus de temps,</h2>
        <p>Avec la solution Serv'eat, <b>essayer c'est augmenter votre rentabilitée.</b></p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 col-xl-3">
        <form class="cta-demande-demo h-100">
            <input type="email" class="form-control h-100" id="demoEmail" placeholder="Entrez votre email">
        </form>
    </div>
    <div class="col-md-4 col-lg-3 col-xl-2">
        <a href="{{ site.link }}/demande-de-demo" id="btnDemo" class="btn btn-round btn-sm btn-secondary">Demandez une démo</a>
    </div>   
</div>
</div>