<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <h2 class="section-title mb-5">Un fonctionnement simple pour vous et vos clients</h2>
        </div>   
    </div>
    <div class="row justify-content-center py-5">
        <div class="col-3 text-center">
            <div class="card card-fonctionnement">
                <div class="card-header">
                <div class="p-4">
                    <img class="img-fluid" src="../../images/illu-restaurateur.svg" alt="">
                </div>
                    <h3>Restaurateur</h3>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores reprehenderit ratione doloremque voluptatibus exercitationem ex, dolor eligendi nostrum distinctio! Sunt distinctio amet quaerat minus! Ex expedita ipsum cupiditate deleniti voluptatum!</p>
                </div>
            </div>
        </div>
        <div class="col-4"> 
            <div class="block-middle">
                <div class="wrap-icon">
                    <img src="../../images/icon-pricing-standart.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-3 text-center">
            <div class="card card-fonctionnement">
                <div class="card-header">
                <div class="p-4">
                    <img class="img-fluid" src="../../images/illu-client.svg" alt="">
                </div>
                    <h3>Clients</h3>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores reprehenderit ratione doloremque voluptatibus exercitationem ex, dolor eligendi nostrum distinctio! Sunt distinctio amet quaerat minus! Ex expedita ipsum cupiditate deleniti voluptatum!</p>
                </div>
            </div>
        </div>
    </div>
</div>