{# <div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-6">
            <div class="block-item">
                <div class="item-txt bg-peach p-5">
                    <h3>Ecran LCD</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsa officiis nisi maiores? Repellat, vero autem! Accusamus nulla illo, expedita molestias exercitationem perferendis earum provident praesentium. Autem sequi vero voluptates.</p>
                </div>
                <div class="item-img">
                    <img src="../../images/img-1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="block-item">
                <div class="item-txt bg-peach-light p-5">
                    <h3>Ecran LCD</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsa officiis nisi maiores? Repellat, vero autem! Accusamus nulla illo, expedita molestias exercitationem perferendis earum provident praesentium. Autem sequi vero voluptates.</p>
                </div>
                <div class="item-img">
                    <img src="../../images/img-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> #}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="../../images/img-1.jpg" alt="">
        </div>
        <div class="col-6">
            <h3>Ecran LCD</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus nihil error enim veniam. Eum similique sint recusandae ab amet, quibusdam odio a vero vel minima atque aliquid hic maiores?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Tablette</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis architecto porro commodi natus voluptas velit consectetur neque fuga voluptate quia nulla in dicta, repellendus, animi facere a? Laborum, provident fugiat?</p>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../../images/img-1.jpg" alt="">
        </div>
    </div>
</div>