<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="section-title c-blue-dark mb-3">lorem ipsum</h2>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius earum quidem ab molestiae omnis magnam laudantium laborum dicta porro nisi. Consectetur aliquid aliquam debitis cumque accusantium possimus ratione vero unde.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="item-list">
                <i class="far fa-grin c-peach"></i>
                <div class="item-list-content">
                    <h3>title item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>                              
        </div>
        <div class="col-md-3">
            <div class="item-list">
                <i class="far fa-grin c-peach"></i>
                <div class="item-list-content">
                    <h3>title item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>                              
        </div> 
        <div class="col-md-3">
            <div class="item-list">
                <i class="far fa-grin c-peach"></i>
                <div class="item-list-content">
                    <h3>title item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>                              
        </div>  
        <div class="col-md-3">
            <div class="item-list">
                <i class="far fa-grin c-peach"></i>
                <div class="item-list-content">
                    <h3>title item</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>                              
        </div>                                   
    </div>
</div>