<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="section-title c-blue-dark mb-3">lorem ipsum</h2>
            <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius earum quidem ab molestiae omnis magnam laudantium laborum dicta porro nisi. Consectetur aliquid aliquam debitis cumque accusantium possimus ratione vero unde.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="item-list">
                <div class="item-icon">
                    <i class="far fa-grin c-peach"></i>
                </div>
                <div class="item-list-content">
                    <h3>Menu</h3>
                    <p>L'ensemble de votre carte sera intégrée sur l'application Serv'eat. Avec une navigation et une consultation intuitive, votre menu sera mise en avant.</p>
                </div>
            </div>                              
        </div>
        <div class="col-md-3">
            <div class="item-list">
                <div class="item-icon">
                    <i class="far fa-grin c-peach"></i>
                </div>
                <div class="item-list-content">
                    <h3>QR Code</h3>
                    <p>Nous imprimons vos QR Code pour chacune de vos tables en respectant leur disposition et leur numérotation.</p>
                </div>
            </div>                              
        </div> 
        <div class="col-md-3">
            <div class="item-list">
                <div class="item-icon">
                    <i class="far fa-grin c-peach"></i>
                </div>
                <div class="item-list-content">
                    <h3>Espace personnel</h3>
                    <p>Depuis votre espace personnel vous pourrez à tout instant modifier vos menus, vos numéros de tables, réediter des QR Codes. Ces modifications seront prises en compte immédiatement par l'application.</p>
                </div>
            </div>                              
        </div>  
        <div class="col-md-3">
            <div class="item-list">
                <div class="item-icon">
                    <i class="far fa-grin c-peach"></i>
                </div>
                <div class="item-list-content">
                    <h3>Installation</h3>
                    <p>Serv'eat se charge de l'installation de l'écran LCD, de la mise en fonction de l'application et de la formation de votre personnel à l'utilisation. Serv'eat vous fournit une connexion wifi sécurisée dédiée à l'application.</p>
                </div>
            </div>                              
        </div>                                   
    </div>
</div>