<div class="container">
    <div class="row">
        <div class="col-12 text-center pb-5">
            <div class="section-icon">
                <i class="fas fa-mobile-alt c-peach"></i>
            </div>
            <span class="c-peach d-block mb-2">Application Serv'eat</span>
                <h2 class="section-title line-bottom">Faite la différence !</h2>
                <p class="mb-0 mt-4">Une application simple et intuitive pour satisfaire vos clients.</p>          
        </div>      
    </div>
</div>
<div class="wrapper-slider">
    <div class="container">
        <div class="row">
        <div class="col-lg-4">
            <div class="wrap-card" data-scroll>
            <div class="inner-card" data-scroll data-scroll-speed="1">
                <div class="card card-app card-1 active">
                    <div class="card-header">
                        <i class="fas fa-qrcode"></i>
                        <h3>QR code</h3>
                    </div>
                    <div class="card-body">
                        <p>Après avoir scanner le QR code de la table le client aura accès aux fonctionnalités de Serv'eat.</p>
                    </div>
                </div>
            </div>
            <div class="inner-card" data-scroll data-scroll-speed="2">
                <div class="card card-app card-2">
                        <div class="card-header">
                            <div class="d-flex justify-content-center mb-2">
                                <i class="icon serveat-waiter me-2"></i>
                                <i class="icon serveat-payment"></i>
                            </div>
                            <h3>Appel / Addition</h3>
                        </div>
                        <div class="card-body">
                            <p>Le client pourra à tout moment faire un appel serveur(se) où une demande d'addition simplement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        <div class="wrap-slider" data-scroll>
            <div class="slider-device" data-scroll data-scroll-speed="1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="img-fluid" src="../../../images/img-slider-1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-fluid" src="../../../images/img-slider-2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-fluid" src="../../../images/img-slider-3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-fluid" src="../../../images/img-slider-3.png" alt="">
                        </div>                          
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
            <div class="wrap-card" data-scroll>
            <div class="inner-card" data-scroll data-scroll-speed="1">
                <div class="card card-app card-3">
                    <div class="card-header">
                        <i class="icon serveat-notification"></i>
                        <h3>Notifications</h3>
                    </div>
                    <div class="card-body">
                        <p>A chaque appel une notification sera envoyée, le client pourra visualiser sa demande en cours.</p>
                    </div>
                </div>
            </div>
            <div class="inner-card" data-scroll data-scroll-speed="2">
                <div class="card card-app card-4">
                        <div class="card-header">
                            <i class="icon serveat-card"></i>
                            <h3>Votre carte visible</h3>
                        </div>
                        <div class="card-body">
                            <p>Votre carte sera mise en avant sur notre application, pour que le client visualise et commande rapidement.</p>
                        </div>
                    </div>        
                </div>  
            </div>
        </div>
    </div>
</div>