<div class="container">
    <div class="row">
        <div class="col-12 text-center pb-4">
            <div class="section-icon">
                <i class="far fa-check-circle c-peach"></i>
            </div>
            <span class="c-peach d-block mb-2">Avantages</span>
                <h2 class="section-title line-bottom">Pourquoi choisir Serv'eat ?</h2>
                <p class="mb-0 mt-4">Serv'eat maximisera votre temps et votre argent</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 py-2">
            <div class="card" data-scroll data-scroll-speed="1">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-user-clock"></i>
                    </div>
                    <div class="card-title">
                        <h3>Temps d'attente réduis</h3>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam beatae ipsam aut neque voluptas corrupti optio vel, et laborum reiciendis iste repellendus perferendis eius enim, commodi ipsa quibusdam ut?</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 py-2">
            <div class="card" data-scroll data-scroll-speed="1">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-qrcode"></i>
                    </div>
                    <div class="card-title">
                        <h3>Accès via QR code</h3>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam beatae ipsam aut neque voluptas corrupti optio vel, et laborum reiciendis iste repellendus perferendis eius enim, commodi ipsa quibusdam ut?</p>
                </div>               
            </div>
        </div>                
        <div class="col-lg-4 py-2">
            <div class="card" data-scroll data-scroll-speed="1">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-tv"></i>
                    </div>
                    <div class="card-title">
                        <h3>Visualisation des tables</h3>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam beatae ipsam aut neque voluptas corrupti optio vel, et laborum reiciendis iste repellendus perferendis eius enim, commodi ipsa quibusdam ut?</p>
                </div>              
            </div>
        </div>
        <div class="col-lg-4 py-2">
            <div class="card" data-scroll data-scroll-speed="1">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-utensils"></i>
                    </div>
                    <div class="card-title">
                        <h3>Consultation de la carte</h3>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam beatae ipsam aut neque voluptas corrupti optio vel, et laborum reiciendis iste repellendus perferendis eius enim, commodi ipsa quibusdam ut?</p>
                </div>              
            </div>
        </div>
        <div class="col-lg-4 py-2">
            <div class="card" data-scroll data-scroll-speed="1">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-smile"></i>
                    </div>
                    <div class="card-title">
                        <h3>Satisfaction de la clientèle</h3>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam beatae ipsam aut neque voluptas corrupti optio vel, et laborum reiciendis iste repellendus perferendis eius enim, commodi ipsa quibusdam ut?</p>
                </div>              
            </div>
        </div>
        <div class="col-lg-4 py-2">
            <div class="card" data-scroll data-scroll-speed="1">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-user-cog"></i>
                    </div>
                    <div class="card-title">
                        <h3>Utilisation intuitive</h3>
                    </div>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nam beatae ipsam aut neque voluptas corrupti optio vel, et laborum reiciendis iste repellendus perferendis eius enim, commodi ipsa quibusdam ut?</p>
                </div>              
            </div>
        </div>                              
    </div>
</div>