<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-md-7 col-lg-8 img-cta">
            <div class="inner-img">
                <div class="bg-img" data-scroll data-scroll-speed="-2"></div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 bg-blue-dark c-white">
            <div class="block-txt block-center align-items-start c-white p-5 h-100">
                <h2 class="mb-3">Ne perdez plus de temps,</h2>
                <p>Avec la solution Serv'eat, <b>essayer c'est augmenter votre rentabilitée.</b></p>
                <a href="#" class="btn btn-round btn-sm btn-secondary mt-4">Demandez une démo</a>
            </div>
        </div>
    </div>
</div>