<div class="container-fluid px-0">
    <div class="row">
        <div class="col-5">
            <div class="block-txt block-center p-5 h-100">
                <div class="section-icon mb-2">
                    <i class="fas fa-tv c-peach"></i>
                    <i class="fas fa-tablet-alt c-peach"></i>
                </div>
                <h2 class="section-title c-blue-dark mb-4">Suivez vos tables<br>en temps réel</h2>
                <div class="">
                    <p class="mb-0">Visualisez vos tables sur <b>écrans LCD</b> et <b>tablettes</b>, suivez l'avancement des demandes et gagner en optimisation de temps.</p>
                    <br>
                    <p>Simple et visuel, gérer les demandes de vos tables.</p>
                    <ul class="list-unstyled">
                        <li><span class="state state-waiter"></span>Appel serveur(se)</li>
                        <li><span class="state state-payment"></span>Demande d'addition</li>
                        <li><span class="state state-white"></span>Aucune demande sur la table</li>
                        <li><span class="state state-grey"></span>Table libre</li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="col-7 block-img">
            <div class="inner-img" data-scroll data-scroll-speed="3" data-scroll-delay="0.5">
                <div class="bg-img" data-scroll data-scroll-speed="-2"></div>
            </div>
        </div>
    </div>
</div>