<div class="container" id="featureContainer">
    <div class="row">
        <div class="col-md-5">
            <div class="block-txt pt-8 pb-5 px-5 mt-5">
                <div class="inner-block" data-scroll data-scroll-sticky data-scroll-target="#featureContainer">
                    <div class="section-icon mb-2">
                        <i class="fas fa-tv c-peach"></i>
                        <i class="fas fa-tablet-alt c-peach"></i>
                    </div>
                    <h2 class="section-title c-blue-dark mb-4">Satisfaisez<br>vos clients</h2>
                    <div class="">
                        <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, aliquam corporis magni veritatis ea animi minima aliquid ducimus odit voluptate molestiae nesciunt modi maxime nemo! Rem excepturi molestias voluptates numquam?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6 mt-6" data-scroll>
                    <div class="card card-process" data-scroll data-scroll-speed="1">
                        <div class="card-header">
                            <div class="process-number"><span>01</span></div>
                            <img class="img-fluid" src="../../../images/img-process-1.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <p>Un accès via QR Code pour garantir une utilisation simple et rapide pour vos clients.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-scroll>
                    <div class="card card-process" data-scroll data-scroll-speed="1">
                        <div class="card-header">
                        <div class="process-number"><span>02</span></div>
                            <img class="img-fluid" src="../../../images/img-process-1.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <p>Une application pensée pour les utilisateurs, avec une prise en main intuitive.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" data-scroll>
                    <div class="card card-process" data-scroll data-scroll-speed="1">
                        <div class="card-header">
                        <div class="process-number"><span>03</span></div>
                            <img class="img-fluid" src="../../../images/serveur.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <p>Offrez un service efficace, et gagnez du temps sur vos déplacements.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-6-negative" data-scroll>
                    <div class="card card-process" ddata-scroll data-scroll-speed="1">
                        <div class="card-header">
                            <div class="process-number"><span>04</span></div>
                            <img class="img-fluid" src="../../../images/dinner-restaurant.jpg" alt=""> 
                        </div>
                        <div class="card-body">
                            <p>Un rapport client / serveur plus convivial, intérvenez quand le client le souhaite et satisfaisez vos clients.</p>
                        </div>
                    </div>
                </div>                                                
            </div>
        </div>
    </div>
</div>