<div class="container">
    <div class="row">
        <div class="col-12 text-center pb-4">
            <div class="section-icon">
                <i class="fas fa-chart-line c-peach"></i>
            </div>
            <span class="c-peach d-block mb-2">Offres</span>
                <h2 class="section-title">Une solution à porté de mains</h2>
                <p class="mb-0">Serv'eat maximisera votre temps et votre argent</p>
        </div>
        <div class="col-12">
            <div class="form-switch switch-pricing mb-5">
                <span class="switch-label">1 mois</span>
                <input class="form-check-input" type="checkbox" checked>
                <span class="switch-label">1 an</span>
                <span class="badge rounded-pill bg-peach-light c-peach ms-2">2 mois offerts</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="panel-pricing">
                <div class="pricing-plan">
                    <h3 class="pricing-title">Standard</h3>
                    <div class="pricing-icon">
                        <img class="img-fluid" src="../../../images/icon-pricing-standard-v2.png" alt="">
                    </div>
                    <div class="pricing-price price-month hide"><span class="price">79 €</span> / mois / HT</div>
                    <div class="pricing-price price-year show"><span class="price">959 €</span> / an / HT</div>
                    <div class="pricing-features">
                        <ul class="list-unstyled">
                            <li>lorem ipsum</li>
                            <li>lorem ipsum</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-round btn-secondary btn-sm">Contactez-nous</a>
                </div>          
        </div>
    </div>
        <div class="col-3">
            <div class="panel-pricing">
                <div class="pricing-plan">
                    <h3 class="pricing-title">Personnalisé</h3>
                    <div class="pricing-icon">
                        <img class="img-fluid" src="../../../images/icon-pricing-custom-v2.png" alt="">
                    </div>
                    <span class="pricing-price d-block">Demandez une version personnalisée pour votre restaurant.</span>
                    <div class="pricing-features">
                        <ul class="list-unstyled">
                            <li>lorem ipsum</li>
                            <li>lorem ipsum</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-round btn-secondary btn-sm">Contactez-nous</a>
                </div>              
            </div>
        </div>
    </div>
</div>