<div class="wrap-pattern">
    <div class="bg-pattern"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center pb-4">
            <div class="section-icon">
                <i class="fab fa-buffer c-peach"></i>
            </div>
            <span class="c-peach d-block mb-2">Offres</span>
            <h2 class="section-title">Une solution à porté de mains</h2>
            <p class="mb-5">Serv'eat maximisera votre temps et votre argent</p>
        </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="panel-pricing" data-scroll data-scroll-speed="2">
                <div class="pricing-plan">
                    <h3 class="pricing-title">Standard</h3>
                    <div class="pricing-icon mx-auto">
                        <img class="img-fluid" src="../../../images/icon-pricing-standard-v2.png" alt="">
                    </div>
                     <span class="pricing-custom d-block">La meilleure offre pour votre restaurant.</span>
                    <div class="pricing-features">
                        <ul class="list-unstyled mt-3">
                            <li>1 ecran LCD (de 22 à 40 pouces)</li>
                            <li>1 tablette</li>
                            <li>Logiciel de gestion des tables</li>
                            <li>Application Serv'eat</li>
                            <li>Affichage du menu</li>
                            <li>QR codes + socles</li>
                            <li>1 dongle relais</li>
                            <li>Jusqu'à 40 tables</li>
                            <li>Assistance technique</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-round btn-secondary btn-sm mx-auto">Contactez-nous</a>
                </div>          
        </div>
    </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="panel-pricing" data-scroll data-scroll-speed="2">
                <div class="pricing-plan">
                    <h3 class="pricing-title">Personnalisé</h3>
                    <div class="pricing-icon mx-auto">
                        <img class="img-fluid" src="../../../images/icon-pricing-custom-v2.png" alt="">
                    </div>
                    <span class="pricing-custom d-block">Optez pour une offre adaptée à votre restaurant.</span>
                    <div class="d-flex my-3">
                        <div class="item-icon">
                            <img class="img-fluid icon" src="../../../images/icon-support.svg" alt="ecran">
                            <p class="font-12 mb-0 mt-2">Augmenter le nombre d'écran LCD et tablettes selon vos besoins</p>
                        </div>
                        <div class="item-icon">
                            <img class="img-fluid icon" src="../../../images/icon-table.svg" alt="table">
                            <p class="font-12 mb-0 mt-2">Augmenter le nombre de tables utilisant le système Serv'eat</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-round btn-secondary btn-sm mx-auto">Contactez-nous</a>
                </div>              
            </div>
        </div>
    </div>
</div>