<div class="container position-relative">
    <div class="row">
        <div class="col-4">
            <div class="p-5 d-flex align-items-end h-100">
                <img class="img-fluid" src="../../../images/illu-rentabilite.svg" alt="Serv'eat augmente votre rentabilité">
            </div>
        </div>
        <div class="col-8">
            <div class="block-txt block-center b-radius-1 p-5 h-100 bg-white c-blue-dark">
                <div class="section-icon mb-2">
                    <i class="fas fa-chart-line c-peach"></i>
                </div>
                <h2 class="section-title c-blue-dark mb-4">Augmentez<br>votre rentabilité</h2>
                <div class="">
                    <p class="mb-0">Fieri, inquam, Triari, nullo pacto potest, ut non dicas, quid non probes eius, a quo dissentias.</p>
                    <br>
                    <p>quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret? cum praesertim illa perdiscere ludus esset. Quam ob rem dissentientium inter se reprehensiones non sunt vituperandae, maledicta, contumeliae, tum iracundiae, contentiones concertationesque in disputando pertinaces indignae philosophia mihi videri solent.</p>
                </div>
            </div>
        </div>
    </div>
</div>