<div class="bg-shape"></div>
<div class="container position-relative">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="hero-title mb-4">Avec Serv'eat<br>tout va plus vite.</h1>
            <p class="mb-4">La solution d'aide au service avec l'appel serveur(se) et la consultation de votre carte.</p>
            <div class="hero-btn mb-4">
                <a class="btn btn-round btn-sm btn-secondary" href="#">Demandez une démo</a>
                <a class="btn btn-round btn-sm btn-outline btn-primary" href="#">Contactez-nous</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
            <img class="img-fluid img-center" src="../../images/hero-app.png" alt="Serveat App">
        </div>
    </div>
</div>
<div class="wrapper-element element-1">
    <div class="element-icon bg-peach-light">
        <i class="icon serveat-waiter c-peach"></i>
    </div>
</div>
<div class="wrapper-element element-2">
    <div class="element-icon bg-peach-light">
        <i class="icon serveat-payment c-peach"></i>
    </div>
</div>
<div class="wrapper-element element-3">
    <div class="element-icon bg-white">
        <i class="icon serveat-notification c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-4">
    <div class="element-icon bg-white">
        <i class="icon serveat-restaurant c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-5">
    <div class="element-icon bg-white">
        <i class="icon serveat-card c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-6">
    <div class="element-icon bg-white">
        <i class="icon serveat-cancel c-blue-grey"></i>
    </div>
</div>
